:root {
    --primary-bg-color: #4393a9;
    --highlight-color: #dfd445;
    --button-bg-color: #cab216;
    --text-highlight-color: #e9c929;
    --modal-bg-color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color:var(--primary-bg-color);
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Merged overflow-x rule */

}

.user{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
h1{
    text-align: center;
}


label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color:#e9c929;
    font-weight: bold;

}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a09b9e, 0 0 40px #646364, 0 0 50px #a09b9e, 0 0 60px #a09b9e, 0 0 70px #a09b9e;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #646364, 0 0 40px #646364, 0 0 50px #646364, 0 0 60px #646364, 0 0 70px #646364, 0 0 80px #646364;
    }
}

/* Container to hold calendar and task sections side by side */
.container {
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space between the sections */
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Space between calendar and reminder sections */
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    width: 90%; /* Ensure it doesn't occupy full width */
    margin: 20px auto; /* Center the content with margin */
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex; /* Flexbox for flexible layout */
    flex-direction: column; /* Stack children vertically */
    gap: 20px; /* Add spacing between children */
}


/* Calendar Section */
#calendar {
    flex:2;
    background: var(--modal-bg-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    width: 100vw;
    height:100vh;
    max-width: 900px;
   
}

/* Calendar Header */
.button-container-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#monthAndYear {
    font-size: 1.5rem;
    font-weight: 500;
}

button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #aa96c9;
}

/* Calendar Table Styling */
.table-calendar {
    width: 80px;
    border-collapse: collapse;
    position: relative;
}

.table-calendar td,
.table-calendar th {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}

.table-calendar td {
    cursor: pointer;
    transition: background-color 0.3s;
}

.table-calendar td:hover {
    background-color: var(--highlight-color);
}

.date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

/* Date Picker Styling */
.date-picker:nth-child(1) {
    color: rgb(70, 214, 104); /* Sunday */
}

.date-picker:nth-child(6) {
    color: rgb(217, 162, 21); /* Friday */
}

.date-picker:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* Footer Container */
.footer-container-calendar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

/* Month/Year Selector */
footer select {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

footer select:focus {
    outline: none;
    border-color: var(--highlight-color);
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #4393a9;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #4393a9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Task Form Styling */
#taskForm {
    display: flex;
    flex-direction: column;
}

#taskForm label {
    font-weight: bold;
    margin-bottom: 5px;
}

#taskForm input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#taskForm button {
    background-color: var(--highlight-color);
    padding: 12px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#taskForm button:hover {
    background-color: #aa96c9;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: auto;
}



/* Responsive adjustments */
@media (max-width: 600px) {
    .calendar {
        width: 100%; /* Make it full-width on smaller screens */
        margin: 0 10px; /* Add margin for mobile */
    }

    .calendar-body .calendar-weekdays li,
    .calendar-body .calendar-dates li {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 600px) {
    #task-input, #category-select, #due-date, #priority-select {
        padding: 15px;
    }
}


.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

}
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(58, 55, 55, 0.5);
}



.modal-content {
    position: fixed;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}


.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

button, .complete-btn, .progress-btn {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover, .complete-btn:hover, .progress-btn:hover {
    background-color: #aa96c9;
}


.task-section {
    margin-bottom: 40px;
}

.task-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#task-form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

#task-input, #category-select, #due-date, #priority-select {
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex-grow: 2;
    font-size: 16px;
    
}




.task.in-progress {
    background-color: #3091b8;
}


.event-tooltip {
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.event-marker {
    position: relative;
}
.event-marker:hover {
    background-color: #f0f8ff; /* Light hover background */
    border-radius: 50%;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: 10px;
}


/* Calendar container */
.container-calendar {
	background: #ffffff;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

/* Event section styling */
#event-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

.container-calendar #left h1 {
	color: green;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px 0;
}

#event-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
	margin: 10px 0;
	padding: 5px;
	width: 80%;
}

#event-section button {
	background: green;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.event-marker {
	position: relative;
}

.event-marker::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* event tooltip styling */
.event-tooltip {
	position: absolute;
	background-color: rgba(234, 232, 232, 0.763);
	color: black;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transition: all 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.event-marker:hover .event-tooltip {
	display: block;
}

/* Reminder section styling */
#reminder-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}

#reminder-section h3 {
	color: green;
	font-size: 18px;
	margin: 0;
}

#reminderList {
	list-style: none;
	padding: 0;
}

#reminderList li {
	margin: 5px 0;
	font-size: 16px;
}

/* Style for the delete buttons */
.delete-event {
	background: rgb(237, 19, 19);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	align-items: right;
}

/* Buttons in the calendar */
.button-container-calendar button {
	cursor: pointer;
	background: green;
	color: #fff;
	border: 1px solid green;
	border-radius: 4px;
	padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
	border-collapse: collapse;
	width: 100%;
}

.table-calendar td,
.table-calendar th {
	padding: 5px;
	border: 1px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
}

/* Date picker */
.date-picker.selected {
	background-color: #f2f2f2;
	font-weight: bold;
	outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
	border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
	color: rgb(70, 214, 104);
	/* Sunday */
}

.date-picker:nth-child(6) {
	color: rgb(217, 162, 21);
	/* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
	text-align: center;
	margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
}

#previous {
	float: left;
}

#next {
	float: right;
}

/* Footer styling */
.footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.footer-container-calendar select {
	cursor: pointer;
	background: #ffffff;
	color: #585858;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}