* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color:#4393a9;
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Merged overflow-x rule */

}





form{
    background-color: transparent;
    width:300px;
    height:44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

img{
    width:300px;
    height:300px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color:transparent;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;

}