<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Calendar </title>
    <link rel="stylesheet" href="/css/calendar_stylesheet.css">
    <link rel="stylesheet" href="/css/stylesheet.css">

  </head>
  <body>
    <div class="container">

      <header>
        <%- include('../partials/secure_header')  %>
      </header>
    </div>

    <!--Main Content -->
    <main class="main-content">
      <header>
        <h1 class="glow">Task Calendar</h1>
      </header>
      <section id="calendar" class="task-section">
        <div class="calendar">
          <header class="calendar-header">
            <p class="calendar-current-date"></p>
            <div class="calendar-navigation">
              <span id="calendar-prev" class="material-icons-rounded">
                Prev
              </span>
              <span id="calendar-next" class="material-icons-rounded"> Next
              </span>
            </div>
          </header> 
    
          <div class="calendar-body">
            <ul class="calendar-weekdays">
              <li>Sun</li>
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
            </ul>
            <ul class="calendar-dates"></ul>
          </div>
        </div>
      </section>

      <section class="task-section">
          <h2>Your Completed Tasks</h2>
  
      </section>


     
      <section id="tasks" class="task-section">
        <h2> Task List </h2>
        <div class="task-list">
              <!-- Example task -->
        </div>
        <!-- Modal -->
        <button class="task-modal" type="button" data-toggle="modal"> Create Task </button>
        <div class="modal" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> New Task</h5>
              </div>
              <span class="close" onclick="closeModal()">&times;</span>
              <div class="modal-body">
                <form id="taskForm" action="">
                  <label for="task-input"></label>
                  <input type="text" id="task-input" placeholder="Task description..." required>
                  <label for="category-select"></label>
                  <select id="category-select">
                    <option value="work">Work</option>
                    <option value="personal">Personal</option>
                    <option value="urgent">Urgent</option>
                  </select>
                  <label for="due-date"></label><input type="date" id="due-date" required>
                  <label for="priority-select"></label>
                  <select id="priority-select">
                    <option value="high">High Priority</option>
                    <option value="medium">Medium Priority</option>
                    <option value="low">Low Priority</option>
                  </select>
                  
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary"> Submit </button>
              </div>
            </div>
          </div>
        </div>
        
      </section>

    </main>

  
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    
    <script src="/js/main.js"></script>
    
  </body>
</html>
