<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')  %>
        <link rel="stylesheet" href="/css/dashboard_stylesheet.css">
        
    </head>
    <body>
    
    

        <div class="dashboard"><!--Dashboard-->

            <section class="navigation navbar navbar-expand-lg navbar-dark">
                <!--navigation-->
                <a class="navbar-brand" href="/user/about"><img src="/images/POST !t (3).png" alt="logo"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column text-center">
                        <li class="navi-item">
                            <a class='nav-link'href="/user/dashboard2"> <span class="material-icons-outlined">dashboard </span> Dashboard</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/calendar"> <span class="material-icons-outlined">add_task </span> Add Task</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/message"> <span class="material-icons-outlined"> chat </span> Messages</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/calendar"> <span class="material-icons-outlined"> calendar_month </span> Calendar</a>  

                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="/user/profile"> <span class="material-icons-outlined"> settings_suggest</span> Settings</a>

                        </li>
                    </ul>
          
                </div>
                <img src="/images/profile2.jpeg" alt="user-image" class="user">
            </section>

            <section class="main"><!--main-->
                <div class="search">
                    <form  action="#">
                        <label for="search" class="visually-hidden"> Search Tasks </label>
                        <input type="text" id="search" name="search" placeholder="Search....">
                        <span class="material-icons-outlined"> search </span>
                    </form>
                    <div class="notification">
                        <span class="material-icons-outlined"> notifications </span>
                        <span class="material-icons-outlined"> edit </span>
                    </div>
                </div>


                <div class="title">
                    <h1> My Task List </h1>
                    <form action="">
                        <label id="task"> Sort By </label>
                        <select name="task" id="taskFilter">
                        <option value=""> ....</option>
                        <option value="recent"> Recent Task </option>
                        <option value="current"> Current Task </option>
                        <option value="completed">  Finished Task </option>
                        </select>
                    </form>
                </div>
                <div class="task_list"><!-- task list -->
                    <div class="task" data-status="completed" title="Completed Tasks"> <!--Board 1 -->
                        <div class="category"></div>
                        <h2> Message Board </h2>
                        

                        <ul class="activity">
                        <li> Inbox </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile1.jpg" alt="profile1" class="stack">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                                <img src="/images/profile3.jpg" alt="profile3" class="stack">
                                <img src="/images/profile4.JPG" alt="profile4" class="stack ">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="task" data-status="current" title="Ongoing Tasks"><!--Board 1 -->
                        <div class="category"> </div>
                        <h2> Design FoodRun Web Application  </h2>
                        <p> Due in 10 days </p>
            
                        <ul class="activity">
                            <li>TASK DESCRIPTION</li>
                            <li> </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile1.jpg" alt="profile1" class="stack">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                                <img src="/images/profile4.JPG" alt="profile4" class="stack ">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="task" data-status="recent" title="Recent Tasks"> <!--Board 1 -->
                        <div class="category"> </div>
                        <h2>  Do InstaCart Order  </h2>
                        <p> TODAY </p>
            
                        <ul class="activity">
                            <li> Dinner Meals</li>
                            <li>  Smoothie Ingridents </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class="secondary"><!--secondary-->
                <div class="chart">
                    <h2> Total Task </h2>
                    <canvas id="myTask" width="400" height="400"></canvas>
                    <div class="complete">
                        <h3> Completed </h3>
                        <p> From 3 tasks </p>
                    </div>
                </div>

                <div class="recent_task"><!--chart-->
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color1"></div>
                            <h2> Meeting for CyberSecurity Threat </h2>
                            <p>by Sasha M </p>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color4"></div>
                            <h2>Brand Meeting -- 2025 </h2>
                            <p>by Ezekiel A</p>
                        </div>
                        <span class="material-icons-outlined">more_vert</span>
                    </div>
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color2"></div>
                            <h2> Send off! </h2>
                            <p>by Jayda L </p>
                        </div>
                        <span class="material-icons-outlined">more_vert</span>
                    </div>
                </div>
                

            </section>
        </div><!--DashBoard End here -->


        


        <footer>
            <%- include('../partials/footer')  %>
        </footer>

        
    </body>
</html>
