<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <title> POST IT </title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
        <link rel="stylesheet" href="/css/dashboard_stylesheet.css">
        
    </head>
    <body>
    
    

        <div class="dashboard"><!--Dashboard-->

            <section class="navigation"><!--navigation-->
                <img src="/images/POST !t (3).png" alt="Side-bar logo" class="logo">
                <div>
                    <a href="/html/dashboard.html"> <span class="material-icons-outlined">dashboard </span></a>
                    <a href="/html/task.html"> <span class="material-icons-outlined">add_task </span></a>
                    <a href="/html/messages.html"> <span class="material-icons-outlined"> chat </span></a>
                    <a href="./calendar.ejs"> <span class="material-icons-outlined"> calendar_month </span></a>  
                    <a href="/secure/profile.ejs"> <span class="material-icons-outlined"> settings_suggest</span></a>
                </div>
                <img src="/images/profile2.jpeg" alt="user-image" class="user">
            </section>

            <section class="main"><!--main-->
                <div class="search">
                    <form  action="#">
                        <label for="search" class="visually-hidden"> Search Tasks </label>
                        <input type="text" id="search" name="search" placeholder="Search....">
                        <span class="material-icons-outlined"> search </span>
                    </form>
                    <div class="notification">
                        <span class="material-icons-outlined"> notifications </span>
                        <span class="material-icons-outlined"> edit </span>
                    </div>
                </div>


                <div class="title">
                    <h1> My Task List </h1>
                    <form action="">
                        <label for="task"> Sort By </label>
                        <select name="task" id="taskFilter">
                        <option value=""> ....</option>
                        <option value="recent"> Recent Task </option>
                        <option value="current"> Current Task </option>
                        <option value="completed">  Finished Task </option>
                        </select>
                    </form>
                </div>
                <div class="task_list"><!-- task list -->
                    <div class="task" data-status="completed" title="Completed Tasks"> <!--Board 1 -->
                        <div class="category"></div>
                        <h2> Message Board </h2>
                        <p>Open 5mins ago </p>

                        <ul class="activity">
                        <li> Inbox </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile1.jpg" alt="profile1" class="stack">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                                <img src="/images/profile3.jpg" alt="profile3" class="stack">
                                <img src="/images/profile4.JPG" alt="profile4" class="stack ">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="task" data-status="current" title="Ongoing Tasks"><!--Board 1 -->
                        <div class="category"> </div>
                        <h2> Design FoodRun Web Application  </h2>
                        <p> Due in 10 days </p>
            
                        <ul class="activity">
                            <li>TASK DESCRIPTION</li>
                            <li> </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile1.jpg" alt="profile1" class="stack">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                                <img src="/images/profile4.JPG" alt="profile4" class="stack ">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="task" data-status="recent" title="Recent Tasks"> <!--Board 1 -->
                        <div class="category"> </div>
                        <h2>  Do InstaCart Order  </h2>
                        <p> TODAY </p>
            
                        <ul class="activity">
                            <li> Dinner Meals</li>
                            <li>  Smoothie Ingridents </li>
                        </ul>
                        <div class="meta">
                            <div class="contributers">
                                <img src="/images/profile2.jpeg" alt="profile2" class="stack">
                            </div>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class="secondary"><!--secondary-->
                <div class="chart">
                    <h2> Total Task </h2>
                    <canvas id="myTask" width="400" height="400"></canvas>
                    <div class="complete">
                        <h3> Completed </h3>
                        <p> From 3 tasks </p>
                    </div>
                </div>

                <div class="recent_task"><!--chart-->
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color1"></div>
                            <h2> Meeting for CyberSecurity Threat </h2>
                            <p>by Sasha Moklow </p>
                            <span class="material-icons-outlined"> more_vert</span>
                        </div>
                    </div>
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color4"></div>
                            <h2>Brand Meeting -- 2025 </h2>
                            <p>by Ezekiel Arowolo</p>
                        </div>
                        <span class="material-icons-outlined">more_vert</span>
                    </div>
                    <div class="listing">
                        <div class="title">
                            <div class="category category_color2"></div>
                            <h2> Send off! </h2>
                            <p>by Jayda Lou </p>
                        </div>
                        <span class="material-icons-outlined">more_vert</span>
                    </div>
                </div>
                

            </section>
        </div><!--DashBoard End here -->


        


        <footer>
            <p>POST !T &copy; 2024</p>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
        <script src="/dashboard.js"></script>
    </body>
</html>
