<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/home_stylesheet.css">
    

    </head>
    <body>

        <header>
            <%- include('../partials/header') %>
        </header>
       
    
        <main class="home">
            <h1 class="glow"> Welcome Page  </h1>
            <div class="about-section">

                <p>Power Post It Task Management is a user-friendly platform to help organize teams and individuals!.</p>
                <p>Our focus is to help manage everday task or even work task and schedule.</p>
            </div>


            <h2 style="text-align:center">Our Team</h2>
            
            <div class="column">
                <div class="card">
                    <img src="/images/dg1.jpg" alt="Alexis" style="width:100%">
                    <div class="container">
                        <h2>Alexis Lesane</h2>
                        <p class="title">Team Member</p>
                        <p>Clark Atlanta University Senior .</p>
                        <p>alexis.lesane@students.cau.edu</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                  <img src="/images/th.jpg" alt="India" style="width:100%">
                  <div class="container">
                        <h2>India Redan </h2>
                        <p class="title">Team Member</p>
                        <p>Clark Atlanta University Senior .</p>
                        <p>india.redan@students.cau.edu</p>
                        <p><button class="button">Contact</button></p>
                  </div>
                </div>
            </div>


            <div class="column">
                <div class="card">
                  <img src="/images/profile2.jpeg" alt="Jaylin" style="width:100%">
                  <div class="container">
                        <h2>Jaylin S. </h2>
                        <p class="title">Team Memeber</p>
                        <p>Clark Atlanta University Senior .</p>
                        <p>jaylin-sumlin@students.cau.edu</p>
                        <p><button class="button">Contact</button></p>
                  </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                  <img src="/images/profile1.jpg" alt="Qauadarius" style="width:100%">
                  <div class="container">
                        <h2>Qauadarius J.</h2>
                        <p class="title">Team Member </p>
                        <p>Clark Atlanta University Senior .</p>
                        <p>quadarius.@students.cau.edu</p>
                        <p><button class="button">Contact</button></p>
                  </div>
                </div>
            </div>
        </main>

        
        <footer>
          <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
