<html lang="en">
<head>
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="/css/stylesheet.css">
    
</head>
<body>
  
    <header>
        <%- include('../partials/header') %>
    </header>
  

    <div class="sub-main">
        <h1> <img src="/images/POST !t (3).png"></h1>
        <h3> Enter Your Credentials </h3>


        <form action="/auth/login" method="post">
            <label for="first">
                Email:
            </label>
            <input type="email" id="first" name="email" placeholder="Enter your Email" required>
            <label for="password">
                Password
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <div class="wrap">
                <button type="submit"> Go! </button>
            </div>
        </form>
        <p> Not registered? 
            <button type="submit">
                <a href="/auth/signup" style="text-decoration: none;">
                    Create A New Account 
                </a>
            </button>
           
        </p>
    </div>


  

    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <!-- <script src="/js/scripts.js"></script> -->
    
    
</body>
</html>      