<html lang="en">
<head>
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="/css/stylesheet.css">
    
</head>
<body>
  
    <header>
        <%- include('../partials/header') %>
    </header>
  

    <div class="sub-main">
        <h1> <img src="/images/POST !t (3).png"></h1>
        <h3> Enter Your Credentials </h3>
        <% if (msg != undefined) { %>         
            <div>
               <h3> Message: <%= msg %></h3> 
           </div>
       <% } %>

        <form action="/auth/login" method="post">
            <label for="first">
                Email:
            </label>
            <input type="email" id="first" name="email" placeholder="Enter your Email" required>
            <label for="password">
                Password
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <div class="wrap">
                <button type="submit"> Go! </button>
            </div>
        </form>
        <p> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Forgot Password </button>
             
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"> <h4> Forgot Paassword </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form id="password-reset-form" action="/auth/signup" method="post">
                                <div id="alert"></div>
                                <label for="password"> Password </label>
                                <input type="password" id="password"/>
                                
                                <label for="password-verfiy"> Re-type Password</label>
                                <input type="password" id="password-verfiy"/>

                                <button type="submit"> Reset Password </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Close </button>
                        </div>
                    </div>
                </div>
            </div>
            Not registered? 
            <button type="submit">
                <a href="/auth/signup" style="text-decoration: none;">
                    Create A New Account 
                </a>
            </button>
           
        </p>
    </div>


  

    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <!-- <script src="/js/scripts.js"></script> -->
    
    
</body>
</html>      