<!DOCTYPE html>
<html>
    <head>
        
        <%- include('../partials/head')  %>
        <title> Messages </title>
        <link rel="stylesheet" href="/css/messages_stylsheet.css">
    </head>
    <body>
        <header>
            <%- include('../partials/secure_header') %>
        </header>
        
        <main class="main-content">
            <header>
                <h1 class="glow"> Chat Box </h1>
            </header>
    
            <!-- Chat Section -->
            <section id="chat-section">
                <div id="chat-box">
                    <img src="../images/profile1.jpg" alt="avatar" class="rounded-circle img-responsive mt-2" width="128" height="128">
                    <ul id="chat-messages">
                        <!-- Messages will appear here -->
                    </ul>
                </div>

                
                <div id="chat-input">
                    <form id="message-form">
                        <input type="text" id="message-input" placeholder="Type your message..." required>
                        <button type="submit" aria-label="Send Message">
                          <span class="material-icons-outlined"> Send </span>  
                        </button>
                    </form>
                </div>
            </section>
        </main>
        

        <footer>
            <%- include('../partials/footer')  %>
        </footer>
        <srcipt src="/js/scripts.js"></srcipt>
    </body>
</html>