<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/stylesheet.css">


    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
       



        <div class="container">
            <h1> Register New Account </h1>
            <form id="signupForm" action="/auth/signup" method="post">
                <div class="form-group">
                    <label for="username"><b>Username</b></label>
                    <input type="text" id="username" name="username" required>
                </div>
            
        

                <div class="form-group">
                    <label for="email"> Email </label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password"><b> Password</b></label>
                    <input type="password" id="password" name="password" required>
                    <div class="password-hint">
                        <ul>
                            <li> Password must be at least 8 characters long</li>
                            <li> Least one uppercase letter, one lowercase letter</li>
                            <li> One number and one special character</li>
                        </ul>
                        <span id="passwordError" class="error"></span>
                        <div class="password-strength" id="passwordStrength"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confrimPassword"><b>Confrim Password </b> </label>
                    <input type="password" id="confrimPassword" name="reqPassword" required>
                    <span id="confirmPasswordError" class="error"></span>
                    <button type="submit"> Sign-Up !</button>
                </div>
            </form>
            <p id="message"></p>
        </div>
         
        <footer>
            <%- include('../partials/footer');%>
        </footer>
        
    </body>
</html>
